{% include 'base.html' %}
{% block Content %}
<section class="container">
  <div>
    Filters
  </div>

  <div class="mt-4 mb-4">
    {% for phone in phones %}

    <div class="card" style="width: 18rem;">
      <img src="{{ phone.dp.url }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{phone.brand_name.name}} {{phone.model}}</h5>
        <p class="card-text">Regullar Price: {{phone.price}}</p>
        <p class="card-text">Special Price: {{phone.discount_price}}</p>
        <a href="#" class="btn btn-primary">Add To Cart</a>
      </div>
    </div>

    {% endfor %}
  </div>

  <div>
    faq
  </div>

</section>
{% endblock Content %}
