{% extends 'base.html' %}
{% block Content %}
<section class="container">
  <div>
    Filters
  </div>

  <div class="row mt-4 mb-4">
    {% for phone in phones %}
    <div class="col-4">
      <div class="card" style="width: 22rem;">
        <div style="height: 200px; overflow: hidden;">
          <img style="width: 100%;height: 100%;" src="{{ phone.dp.url }}" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{phone.brand_name.name}} {{phone.model}}</h5>
          <p class="card-text">Regullar Price: {{phone.price}}</p>
          <p class="card-text">Special Price: {{phone.discount_price}}</p>
          <a href="{% url 'add-to-cart' phone.id %}" class="btn btn-primary">Add To Cart</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="my-3">
    <h1 class="my-1 text-center">frequently asked questions (FAQs)</h1>
    {% include "shop/faq.html" %}
  </div>
</section>
{% endblock Content %}